<!DOCTYPE html>
<html>
    <head>
     <style>
        #heading{
            color:#000;
            background:linear-gradient(to left, #fff, blue);
        }
     </style>
    </head>
    <body>
        <header>
            
        <nav>
        </nav>
        <h1 id="heading">Hello, World!</h1>

        <%= data.message %>
        <%= data.message %>
        </header>

        <footer>
        </footer>
    </body>
</html>